:root{
    --default-width: 75rem;
    --theme-color: #068FFF;
}

/* --------Nav------- */
.header{
    height: 5rem;
    width: 100%;
    /* background-color: rgb(53, 133, 244); */
    background-color: var(--theme-color);
    position: sticky;
    top: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}
.header-content{
    width: 85%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo{
    width: auto;
    height: 80%;
    background-color: #fff;
}
.header-logo img{
    height: 100%;
}

.header-location-search{
    min-width: 55%;
    height: 100%;
    /* background-color: red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.header-location{
    width: 30%;
}
.header-search{
    width: 66%;
    display: flex;
    align-items: center;
    background-color: #fff;
    border-top-right-radius: 0.1rem;
    border-bottom-right-radius: 0.1rem;
}
.header-location input, .header-search input{
    width: 100%;
    text-align: left;
    padding: 0 5px;
    height: 2.5rem;
    border: none;
    outline: none;
}

.header-actions{
    min-width: 28%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: khaki; */
    color: #fff;
    font-size: 94%;
    font-weight: bold;
}
.header-signin{
    height: 2rem;
    width: 5rem;
    border: none;
    outline: none;
    border-radius: 1px;
    cursor: pointer;
    transition: 0.2s ease;
}
.header-signin:hover{
    background-color: rgb(232, 92, 45);
    color: #fff;
}

.header-cart:hover{
    cursor: pointer;
}



/* ---------Categories---------- */
.categories{
    /* width: 100%; */
    height: 9rem;
    /* background-color: khaki; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 8px;
    background-color: #fff;
}
.categories-content{
    height: 90%;
    width: 82rem;
    display: flex;
    justify-content: space-between;
}

.categories-items{
    width: 8.2rem;
    height: 100%;
    /* background-color: orange; */
    font-size: 80%;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.items{
    width: 95%;
    height: 80%;
    padding: 0.85rem;
    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 5px;
}
.item-1 img, .item-2 img, .item-4 img, .item-5 img, .item-6 img, .item-7 img{
    width: 100%;
}
.item-3 img{
    height: 100%;
}

/* -----Carousel-------- */
.carousel{
    height: 400px;
    margin: 8px;
    background-color: #7b1212;
}
SimpleImageSlider{
}