.search{
    /* height: 100vh; */
    display: flex;
    margin: 8px;
}
.filter{
    height: 40rem;
    width: 20%;
    background-color: #fff;
    position: sticky;
    top: 0;
    left: 0;
}
.result{
    height: 100%;
    width: 80%;
    margin-left: 8px;
    padding: 0.5rem;
    background-color: #fff;
    display: flex;
    /* justify-content: space-between; */
    flex-wrap: wrap;
}